

.section {
    background: white;
    margin: 10px 0;
}

.section__header {
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(184, 180, 180);
}

@media(max-width: 767px) {
    .section_header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    font-size: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
}