.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button__button {
    background: transparent;
    color:rgb(103, 160, 187);
    border: none;
    margin: 0 0 0 20px;
    transition: color 0.5s;
}

@media(max-width: 767px) {
    .button__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.button__button:hover {
    color: rgb(174, 229, 244);
}

.button__button:disabled {
    color:azure;
}